h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
h2{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
p{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
.content{
	padding: 30px 60px 60px 30px; 
}
.content .header{
	padding-bottom: 20px;
}
.content .description{

}