
<!DOCTYPE html>
<html ng-app='ClubLeadModule'>
<head>
	<title></title>
</head>
<body ng-controller='TableController'>
<nav class='navbar navbar-default'>
	<center><h3 class="white">FSA Directory</h3></center>
</nav>
<div class="container">
	<div class="input-group">
		<input type="text"  class="form-control" placeholder="Search Directory" ng-model='searchKey'>
	</div>
	&nbsp;
	<div class="row">
		<div class="col-md-4">
			<select class="form-control" ng-model='designationKey'>
				<option value=''>--Select--</option>
			  <option value="E-Board">E-Board</option>
			  <option value="RAL">Regional Ambassador Lead</option>
			  <option value="Club Lead">Club Leads</option>
			</select>	
		</div>
		<div class="col-md-4">
			<select class="form-control" ng-model='countryKey'>
				<option value="">--select--</option>
			  <option  ng-repeat="d in data | unique:'country'" value="{{d.country}}">{{d.country}}</option>
			</select>
		</div>
		<div class="col-md-4">
			<select class="form-control">
				<option>--select--</option>
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
		</div>
	</div>
	&nbsp;
	<div>
		<table class="table table-bordered table-hover table-striped table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Country</th>
					<th>Email Id</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='d in data|filter:searchKey|filter:designationKey|filter:countryKey'>
					<td><a href='#' ng-click="profile(d)" data-toggle="modal" data-target="#myModal">{{d.name}}</a></td>
					<td>{{d.country}}</td>
					<td>{{d.email}}</td>
					<td>{{d.role}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>{{record.name}}</strong>-<strong>{{record.role}}</strong></h4>
      </div>
      <div class="modal-body">
      	<div class='row'>
      		<div class="col-md-6"><h5><strong>Email ID:</strong></h5></div>
      		<div class="col-md-6"><h5>{{record.email}}</h5></div>
      	</div>
      	<div class='row'>
      		<div class="col-md-6"><h5><strong>Twitter:</strong></h5></div>
      		<div class="col-md-6"><h5>{{record.twitter}}</h5></div>
      	</div>
      	<div class='row'>
      		<div class="col-md-6"><h5><strong>Skype:</strong></h5></div>
      		<div class="col-md-6"><h5>{{record.skype}}</h5></div>
      	</div> 
      	<div class="row">
      		<div class="col-md-6"><h5><strong>Country:</strong></h5></div>
      		<div class="col-md-6"><h5>{{record.country}}</h5></div>
      	</div>
      	<div class="row">
      		<div class="col-md-6"><h5><strong>Facebook Profile</strong></h5></div>
      		<div class="col-md-6"><h5><a target='_blank' href="{{record.facebook}}">{{record.facebook}}</a></h5></div>
      	</div>
      	<div class="row">
      		<div class="col-md-6"><h5><strong>Google+ Profile</strong></h5></div>
      		<div class="col-md-6"><h5><a target='_blank' href="{{record.google}}">{{record.google}}</a></h5></div>
      	</div>
      	<div class="row">
      		<div class="col-md-6"><h5><strong>Mozillians Profile</strong></h5></div>
      		<div class="col-md-6"><h5><a target='_blank' href="{{record.mozillians}}">{{record.mozillians}}</a></h5></div>
      	</div>
      	<div class="row">
      		<div class="col-md-6"><h5><strong>IRC Nickname</strong></h5></div>
      		<div class="col-md-6"><h5><a target='_blank' href="{{record.irc}}">{{record.irc}}</a></h5></div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
</body>
<script type="text/javascript" src='lib/angular.js'></script>
<script type="text/javascript" src="lib/angular-filter.js"></script>
<script type="text/javascript" src="lib/jquery.js"></script>
<script type="text/javascript" src='src/app.js'></script>
<script type="text/javascript" src="lib/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/app.css">
</html>