
<!DOCTYPE html>
<html ng-app='ClubLeadModule'>
<head>
	<title></title>
</head>
<body ng-controller='TableController'>
<nav class='navbar navbar-default'>
	<center><h3 class="white">FSA Directory</h3></center>
</nav>
<div class="container">
	<div class="input-group">
		<input type="text"  class="form-control" placeholder="Search Directory" ng-model='searchKey'>
	</div>
	&nbsp;
	<div class="row">
		<div class="col-md-4">
			<select class="form-control" ng-model='designationKey'>
				<option value=''>--Select--</option>
			  <option value="E-Board">E-Board</option>
			  <option value="RAL">Regional Ambassador Lead</option>
			  <option value="Club Lead">Club Leads</option>
			</select>	
		</div>
		<div class="col-md-4">
			<select class="form-control" ng-model='countryKey'>
				<option value="">--select--</option>
			  <option  ng-repeat="d in data | unique:'country'" value="{{d.country}}">{{d.country}}</option>
			</select>
		</div>
		<div class="col-md-4">
			<select class="form-control">
				<option>--select--</option>
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
		</div>
	</div>
	&nbsp;
	<div>
		<table class="table table-bordered table-hover table-striped table-condensed">
			<thead>
				<tr>
					<th>Country</th>
					<th>Name</th>
					<th>Email Id</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='d in data|filter:searchKey|filter:designationKey|filter:countryKey'>
					<td>{{d.country}}</td>
					<td>{{d.name}}</td>
					<td>{{d.email}}</td>
					<td>{{d.designation}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
<script type="text/javascript" src='lib/angular.js'></script>
<script type="text/javascript" src="lib/angular-filter.js"></script>
<script type="text/javascript" src="lib/jquery.js"></script>
<script type="text/javascript" src='src/app.js'></script>
<script type="text/javascript" src="lib/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/app.css">
</html>