h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
h2{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
h3{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;	
}
.content .description p,.content .mozillian-story p{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}

.content .header{
	height: 500px;
	color: white;
	background-color: #F29B16
}
.content .description{
	height: 500px;
	color: white;
	background-color: #6F7782;
}
.content .mozillian-story{
	background-color: #EBEFF2;
	color: black;
}
.content .experience{
	height: 500px;
}
.experience h3,.conference h3{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: left;	
}
.speaker-request,.social-life{
	text-align: center;
}
.social-icon{
	display: inline;
	margin: 20px;
}
.content .topic-section{
	height: 500px;
	width: 100%;
	display: inline-block;
	float: left;
}
.skillset img{
	margin: 10px;
}
.nav-bar{
	height: 4em;
}
body{
	margin: 0px;
}

.header h1{
	padding-top: 170px;
}
.nav-bar a:link, a:visited{
	color: black;
	text-decoration: none;
	font-size: 2.5em;
	display: inline-block;
	padding-top: 0.4em;
	width: 100%;
	text-align: center;
}